.Projects {
        background-color: rgb(255, 255, 255)
}

.Projects > h1 {
        text-align: center;
        margin-top: 50px;
}

.project-container {
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 5px;
}

.item {
        width: 100%;   
}