.Projects {
        background-color: rgb(255, 255, 255)
}

#Projects {
        padding-top: 50px;
}

.Projects > h1 {
        text-align: center;
        padding-bottom: 50px;
        color: rgb(11, 10, 10);
}

@media only screen and (min-width: 768px) {
.project-container {
        width: 9vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 5px;
        }
}

.item {
        padding: 1px;
        border: 0px 1px 0px 1px;
        position: relative;
        overflow: hidden;
}
      
.overlay {
        transition: bottom ease 2s;
        position: absolute;
        bottom: -600px;
        left: 0px;
        color: white;
        background-color: black;
        width: 100%;
        height: 100%;
        opacity: 0.8;
}

.item:hover .overlay {
        display: block;
        bottom: 0;
}

.overlay :first-child {
        text-align: center;
        padding-top: 50px;
        color: white;
}

.clickMe {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 10%;
        padding-top: 30%;
        animation-duration: 10s;
        animation-delay: 50s;
        animation-iteration-count: infinite;
}

/* For mobile phones: */
.project-container {
        width: 100%;
}
