.go-top {
    position: fixed;
    cursor: pointer;
    bottom: 160px;
    right: 0;
    color: #ffffff;
    z-index: 1;
    width: 70px;
    text-align: center;
    height: 55px;
    border-radius: 10px 0 0 10px;
    line-height: 46px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

@media only screen and (max-width: 600px) {
    .go-top {
   bottom: 300px
  }
}
