
.header {
    padding-top: 10%;
    padding-left: 10%;
    letter-spacing: 2px;
    font-size: 3rem;
    font-weight: bold;
}

.intro {
    padding-left: 10%;
    font-size: 1.5rem;
}

.container {
    width: 100vw;
    height: 100vh;
    background-image: url('../images/bubbles.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }