:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 5%, 4%);
  --turquoise: rgb(57 176 202);
}

.About {
  background-color: var(--white);
  text-align: center;
  margin: auto;
  width: 60vw;
}

.About > h1 {
  margin-top: 2rem;
}

#About {
  padding-top: 50px;
}

section {
  column-count: 3;
  column-gap: 7em;
  width: 40vw;
  margin: auto;
}

section > p {
  margin-top: 0;
  width: 14rem;
  text-align: left;
  padding-bottom: 2rem;
}

h1 {
  color: var(--black);
}

.tech-stack > h2 {
  color: var(--turquoise);
  font-size: 32px;
  margin-top: 50px;
}

.aboutLogo {
  padding: 15px 20px;
  color: var(--turquoise);
  margin-bottom: 50px;
}

.tech-stack {
  border: 5px double var(--turquoise);
  margin-top: 2rem;
}

@media only screen and (max-width: 600px) {
  section {
    column-count: 1;
    column-gap: 7em;
    width: 100%;
    margin: auto;
  }
  section > p {
    line-height: 30px;
    padding: 10px 20px;
    text-align: center;
    width: 70vw;
  }

  .About > h1 {
    margin-top: 10px;
  }

  .About {
    text-align: center;
    margin: auto;
    width: 80vw;
  }

  .aboutLogo {
    padding: 10px 10px;
  }
}
