.About {
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.About > h1 {
    margin-top: 50px;
}

hr {
    width: 70%;
}

#About {
    padding-top: 50px;
}

section > p {
    line-height: 50px;
}