.navbar {
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: rgb(255, 255, 255);
}

.navbar-logo a {
	color: #39B0CA;
	text-decoration: none;
	font-size: 3rem;
	padding: 0 2rem;
	font-weight: 700;
}

.navbar-navigation {
	display: flex;
	align-items: center;
	padding-right: 2rem;
}

.navbar-navigation-items a {
	color: #39B0CA;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;

}

.navbar-navigation-items a:hover,
.navbar-navigation-items a:active {
	border-bottom: 1px solid #39B0CA;
	padding-bottom: 28px;
	transition: all 1s;
	color: gray;
}

.navbar-navigation-items ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	font-size: 1rem;
	display: flex;
}

.navbar-navigation-items ul li {
	padding: 0 1rem;
}

.separator {
	flex: 1;
}
/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

@media only screen and (max-width: 600px) {
.navbar-logo a {
	display: inline;
	padding: 8rem;
	}

.navbar-navigation-items li {
		display: none;
	}
}

