footer {
    background-color:rgb(255, 255, 255);
    padding-top: 30px;
}

footer > h1, p {
    padding: 30px;
    line-height: 30px;
    text-align: center
}

footer > ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 5px 0;
}

/* li {
    /* padding: 10px 10px; */
/* } */ 

a {
    text-decoration: none;
    color: #39B0CA;
    font-weight: 700;
}
 footer a:hover {
     color: gray;
 }

 .zoom {
    transition: transform .2s; /* Animation */
    margin: 0 10px;
  }
  
  .zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
small {
    padding: 10px;
}