footer {
    background-color:rgb(255, 255, 255);
    padding: 50px 5px 10px 5px;
}

footer > h1, p {
    padding: 30px;
    line-height: 30px;
    text-align: center
}

footer > ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 5px 0;
}

a {
    text-decoration: none;
    color: rgb(147, 147, 147);
    font-weight: 700;
}
 footer a:hover {
     color: gray;
 }

 .zoom {
    transition: transform .2s;
    margin: 0 15px;
  }
  
  .zoom:hover {
    transform: scale(1.2);
  }

@media only screen and (max-width: 600px) {
    .zoom {
        transition: transform .2s;
        margin: 5px 5px;
    }
    .zoom:hover {
        transform: scale(1.1);
      }
}
